body
{
    background-color: lightgrey;
}

h1
{
    color: black;
}

#info
{
    display: flex;
    justify-content: space-between;
}

.left
{
    border: blue solid 5px;
    border-radius: 15px;
}

.left h4
{
    color: 00B656;
    padding: 10px;
    font-weight: 100;
}

.right h4
{
    font-style: italic;
    font-weight: 100;
    text-align: right;
    padding: 10px;
    color: blue
}